<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.nueca.imonggosdk">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

        <service
            android:enabled="true"
            android:exported="false"
            android:name="net.nueca.imonggosdk.operations.sync.TestService">
            <intent-filter>
                <action android:name="net.nueca.imonggosdk.operations.sync.TestService" />
            </intent-filter>
        </service>

    </application>

</manifest>
