<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.nueca.concessio_test" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme.Concessio.Light.NoActionBar" >
        <activity
            android:name=".LocationTesting"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme" >
        </activity>
        <activity
            android:name=".C_Login"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".C_History"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Concessio.NoActionBar" />
        <activity
            android:name=".C_Customers"
            android:label="@string/title_activity_customers"
            android:theme="@style/AppTheme.Concessio.Light.NoActionBar">
        </activity>
        <activity
            android:name=".C_HistoryDetails"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Concessio.NoActionBar" />
        <activity
            android:name=".TestMultiInput"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Concessio.NoActionBar" />
        <activity
            android:name=".C_Login3"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme" >
        </activity>
        <activity
            android:name=".C_SampleLogin"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme" >
        </activity>
        <activity
            android:name=".C_Module"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Concessio.NoActionBar" >
        </activity>
        <activity
            android:name=".C_Module2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Concessio.NoActionBar" >
        </activity>

        <service
            android:name="net.nueca.imonggosdk.swable.ImonggoSwable"
            android:enabled="true" />
        <service
            android:name="net.nueca.imonggosdk.operations.sync.SyncModules"
            android:enabled="true" />

        <activity
            android:name=".Receive"
            android:label="@string/title_activity_receive"
            android:theme="@style/AppTheme.Concessio.NoActionBar" >
        </activity>
        <activity
            android:name=".C_Welcome"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme" >
        </activity>
        <activity
            android:name=".C_MultiInput"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Concessio.NoActionBar" />
        <activity
            android:name=".C_Dashboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Concessio" />
        <activity
            android:name=".SampleSales"
            android:label="@string/title_activity_sample_sales"
            android:theme="@style/AppTheme.Concessio.NoActionBar" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="50e2100f1a801357b9d65a4f7f38551db0df28ce" />

        <activity
            android:name=".CardViewTests"
            android:label="@string/title_activity_card_view_tests"
            android:theme="@style/AppTheme.Concessio.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".CustomerList"
            android:label="@string/title_activity_customer_list"
            android:theme="@style/AppTheme.Concessio.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
